html {
  font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

iframe {
  margin: 10px auto;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}